:root  {
  --darkPurple: #262A41;
  --mainWhite: #F7F7FF;
  --lightDark: #707070;
  --mainDark: #000000;
  --mainPink: #F935A9;
  --lightPink: #fadfef;
  --darkGreen: #30BBB5;
  --fairPurple: #7946C1;
  --mainPurple: #323874;
  --DarkWhite: #f3f3f3;
  --mainGreen: #75D6D1;
  --lightWhite: #FCFCFF;
  --lightGreen: #30BBB574;
  --lighterPurple: #BABDD1;
  --mainGrey: #3C3F54;
  --lighterWhite: #E2E2EA;
  --normalGreen: #30BBB5;
  --mainRed: #f07067;
  --mainBlue: #3aafd3;
}

html {
  background: var(--darkPurple);
  overflow-x: hidden;
}


body {
  background: var(--darkPurple) !important;
  overflow-x: hidden;
}

@font-face {
  font-family: ExtraLight;
  src: url("./fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: PoppinsLight;
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: SemiBold;
  src: url("./fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: MediumItalic;
  src: url("./fonts/Poppins-MediumItalic.ttf");
}